<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="cadena_conexion"
         connectionString="Server=DESKTOP-J732B5L;Database=DBFOTOROMAN;Integrated Security=True;Encrypt=False;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
